<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Review Name</th>
        <th>Placemark Description</th>
<!--        <th>Date Rating etc</th>-->
        <th>Rating</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    {{#each publicPlacemark.reviews}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
            <td>
                {{rating}}
            </td>
            <td>
                {{user}}
            </td>

                <a href="/review/{{../publicPlacemark._id}}/deletereview/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>